.row {
    margin-top: 3rem;
}

#skillsTitle {
    margin-left: 0;
}

.skillsColumn {
    display: flex;
    flex-flow: column wrap;
}

.svgs svg {
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
    fill: #9296A0;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.svgs svg:hover {
    fill: #97a089;
}

h3 {
    margin-top: 11px;
    margin-left: -6%;
}

#portrait img {
    height: 30rem;
    margin-top: 7rem;
    margin-left: 2rem;
    border-radius: 20px;
}

.bootstrap-override #about a {
    color: #97a089;
}