.bootstrap-override nav {
    background-color: rgb(124, 121, 122, .2);
    justify-content: center;
    height: 45px;
    position: absolute;
    top: 0;
    z-index: 101;
    font-size: 20px;
    margin-left: 25px;
    padding-right: 32px;
}

.bootstrap-override a {
    color: #070D08;

}

.bootstrap-override svg {
    height: 30px;
    width: 30px;
}

.bootstrap-override .toTop {
    width: 55px;
    height: 55px;
    padding: 10px 10px 10px 10px;
    bottom: 7%;
    left: 93%;
    z-index: 100;
    position: fixed;
    background-color: #F3F3F6;
    border: 2px solid #9296A0;
    border-radius: 100%;
}