.projects {
    margin-top: 30px;
}

.projectCards {
    padding-top: 40px;
    position: relative;
}

.projects img {
    width: 300px;
    justify-content: center space-evenly;
    flex-direction: row;
    margin-left: 7%;
    margin-bottom: 2%;
}

