.bootstrap-override .row {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
}


.bootstrap-override .card {
    width: 28rem;
    margin-left: 3vw;
    margin-right: 3vw;
    justify-content: center space-evenly;
}

.bootstrap-override .card .card-image-top img {
    height: 446px;
}

.bootstrap-override .card-body {
    background-color: #cecdd2;
    height: 140px;
    text-align: center;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.bootstrap-override .card-body::-webkit-scrollbar {
    width: 8px;
}

.bootstrap-override .card-body::-webkit-scrollbar-track {
    background: #F1F1F1;
}

.bootstrap-override .card-body::-webkit-scrollbar-thumb {
    background: #9f9fa1;
}

.bootstrap-override .card-body::-webkit-scrollbar-thumb:hover {
    background: #63695a;
}

.bootstrap-override .card-body:hover {
    background-color: #97a089;
}

.bootstrap-override hr {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 30px;
}

.bootstrap-override #projectsHeader {
    text-align: center;
    margin-top: 40px;
}
